.container{
    width: 400px;
    height: 350px;
    background-color: #0a102f;
    margin: 2vw;
    border-radius: 1vw;
}
.image{
    width: 100%;
    color: #f3d588;
    justify-content: center;
}
.image h2{
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: 1.3vw;
}
.icon{
    width: 100%;
    display: flex;
    justify-content: center;
}
.icon img{
    width: 3.5vw;
    margin: 2vw;

}
.text{
    color: #ebdfbf;
    width: 80%;
    margin: auto;
    font-size: 1vw;
    text-align: justify;
}