.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 4vw;
}
.link{
  text-decoration: none;
}
/* CONTACT BUTTON STYLE */
.btn {
    border: solid #DAC182 1px;
    width: 20vw;
    height: 8vw;
    border-radius: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1c1c1a;
    cursor: pointer;
    transition: all 450ms ease-in-out;
    margin: 4vw 2vw;
  }
  
  .image {
    fill: #AAAAAA;
    transition: all 800ms ease;
    width: 2vw;
  }
  
  .text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: 1.15vw;
  }
  .btn:hover{
    border: none;
  }
  .btn:hover .text {
    color: white;
  }
  
  .btn:hover .image {
    fill: white;
    transform: scale(1.2);
  } 
  
  .btn.email:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
  }
  .btn.face:hover {
    background: linear-gradient(0deg,#7c86f3,#3f48ea);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #173aff;
    transform: translateY(-2px);
  }
  .btn.whats:hover {
    background: linear-gradient(0deg,#82f37c,#4dea3f);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #3aff17;
    transform: translateY(-2px);
  }
  .btn.insta:hover {
    background: linear-gradient(0deg,#f37ce1,#ea3fba);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #ff17d4;
    transform: translateY(-2px);
  }

@media (max-width: 800px) {
  .image {
    width: 3vw;
  }
  .text {
    font-size: 1.5vw;
  }
  .btn.email{
    margin-top: 0;
  }
  .btn.whats{
    margin-top: 0;
  }
  .container{
    margin-bottom: 8vw;
  }
}
@media (max-width: 600px){
  .btn{
    width: 30vw;
    height: 13vw;
  }
  .image {
    width: 5vw;
  }
  .text {
    font-size: 2.5vw;
  }
}