/* STYLE LEFT CONTENT */

.container{
    height: 43vw;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: #fff;
}
.segmento_content{
    margin-left: 15%;
}
.div_video{
    z-index: -1;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35vw;
    height: 35vw;
    margin-top: 2vw;
    transform: rotate(50deg);
    left: 4vw;
}
.video{
    transform: rotate(-50deg);
    filter: brightness(0.35);
}
.content h3{
    font-size: 1.8vw;
    margin-bottom: 4vw;
}
.content_text{
    font-size: 1.4vw;
    margin-left: 4vw;
}

/* STYLE RIGTH CONTENT */

.container.right{
    justify-content: flex-end;
}
.segmento_content.right{
    width: 100%;
}
.div_video.right{
    left: 56.5vw;
}
.title.right{
    width: 50%;
    text-align: end;
    margin-left: 25%;

}
.content_text.right{
    margin-left: 0;
    text-align: start;
    margin-left: 40%;
}