.container{
    background-color: black;
    color: #fff;
    padding-block: 20vh 10vh;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
}
.container div{
    text-align: center;
    align-content: center;
    width: 100%;
}
.container p{
    font-size: 1vw;
}
.footer_logo{
    width: 40vw;
    margin: auto;
}
.icon_footer{
    width: 2.3vw;
    margin: 2.5vw 1vw;
    cursor: pointer;
}
.icon_footer:hover{
    filter: brightness(250%);
    transition: 0.5s;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0),
    0px 0px 0px 4px rgba(255, 255, 255, 0),
    0px 0px 180px 0px #f3d588;
}
@media (max-width: 800px){
    .container p{
        font-size: 1.5vw;
    }
}
@media (max-width: 450px){
    .container p{
        font-size: 1.8vw;
    }
    .footer_logo{
        width: 70vw;
    }
    .icon_footer{
        width: 4vw;
        margin-top: 4vw;
    }
}

